body {
  color: #4A4E5A;
  background: #f7f5f3;	
}
.header-btns .fa{
	color: #2a7d2e;
}
#navigation {
  background-color: #2a7d2e;
}
.jb-topbar {
    color: #2a7d2e;
}
.jb-topbar ul li a {
    color: #2a7d2e;
}
.jb-topbar ul li a span {
    color: #7fb401;
}
h1, h2, h3, h4, h5, h6 {
  color: #30323A;
}
a {
  color: #30323A;
}

a:hover, a:focus {
  color: #2a7d2e;
}
.primary-color {
  color: #F8694A;
}
.white-color {
  color: #FFF;
}
strong {
  color: #30323A;
}
hr {
  border-color: #DADADA;
}
.main-btn {
  color: #30323A;
  background-color: #FFF;
}
.main-btn:hover, .main-btn:focus {
  color: #f85951;
}
.primary-btn {
	 color: #FFF;
  background-color: #27ae60;
}
.primary-btn:hover, .primary-btn:focus {
 color: #27ae60;
  background-color: #FFF;
  border: 1px solid #27ae60;	
}
.product.product-single .product-price{
	color:  #f85951;
}
.product.product-single .product-name {
	    color: #124a2f;
}
.product.product-single .product-name:hover {
	        color: #2a7d2e;
}
.input-checkbox>label {
  color: #30323A;
}
.list-links li>a:hover, .list-links li>a:focus, .list-links li.active>a {
  color: #F8694A;
}
.section-grey {
  background: #F6F7F8;
}
.section-title {
  border-bottom: 1px solid #DADADA;
}
.section-title:after {
  background-color: #2a7d2e;
}
.breadcrumb>.active {
  color: #27ae60;
}

.breadcrumb>li+li:before {
  color: #DADADA;
}
#header {
   background: #f7f5f3;	
}
.jb-topbar {
    background: white;
}
.t3-module {
    background: transparent;
	  color: inherit;
}
.jb-topbar ul li::after {
    border: 1px dashed #9c9c9c;
}
.module-ct {
    background: transparent;
    color: inherit;
}
.jb-topbar .nav li a:hover{
	   color: #7fb401;
    background-color:transparent;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #7fb401;
}
.logo{
	color: #27ae60;
}
.header-search>form .search-input {
	background: white;
}
.header-search>form .search-btn {
  background-color: #f6af14;
	color: white;
}
.header-btns>li .header-btns-icon {
  color: #30323A;
}
.header-account.dropdown .custom-menu>li>a>i {
  color: #F8694A;
}
.gray{
	background: #bdc3c7;
	color: white;
}
.right-arrow{
  color: white;
   background-color: #e67e22;
}
.right-arrow::after {
  border-color: #e67e22 transparent;
}

.right-arrow::before {
  border-color: transparent #e67e22;
}
.header-cart .header-btns-icon .qty {
  background: #f6af14;
  color: #FFF;
}
.category-nav .category-header {
  background:#7fba00;
  color: #FFF;
}

.category-nav .category-list {
  background-color: #FFF;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}
.category-nav .category-list>li+li {
  border-top: 1px solid #DADADA;
}
.category-nav .category-list>li>a:hover, .category-nav .category-list>li>a:focus, .category-nav .category-list>li.dropdown.open>a {
  color: #7fb401;
}
.menu-nav .menu-header {
  background: #30323A;
  color: #FFF;
}
.menu-nav .menu-list>li>a {
  color: #FFF;
}
.menu-nav .menu-list>li>a:hover, .menu-nav .menu-list>li>a:focus, .menu-nav .menu-list>li.dropdown.open>a {
  color: #f6af14;
}
.custom-menu {
  background: #FFF;
}
.dropdown.default-dropdown>.custom-menu {
  border-top: 2px solid #27ae60;
}
.dropdown.default-dropdown>.custom-menu>li>a {
	color: rgba(0,0,0,0.7);
}
.dropdown.default-dropdown>.custom-menu>li>a:hover{
	color: #7fb401;
}
.dropdown.mega-dropdown>.custom-menu {
  border-top: 2px solid #F8694A;
}
.dropdown.side-dropdown>.custom-menu {
  border-left: 2px solid #F8694A;
}
.block-delivery{
	border: 1px solid black;
}
.product .product-old-price {
   color: #999999;
}
.product .product-rating>i {
  color: #FFB656;
}
.product .product-rating>i.empty {
  color: #DADADA;
}
.product .product-label>span {
  color: #FFF;
  background-color: #2a7d2e;
}
.product .product-label>span.sale {
  background-color: #f85951;
}
.product .product-countdown>li+li:before {
  color: #FFF;
  background: #30323A;
}
.product .product-countdown>li>span {
  color: #FFF;
  background: #F8694A;
}
.product.product-single .product-thumb:after {
  background-color: #FFF;
}
.product.product-single.product-hot {
  border: 2px solid #F8694A;
}
.product.product-widget .cancel-btn {
  background-color: transparent;
  color: #DADADA;
}
.product.product-widget .cancel-btn:hover {
  color: #30323A;
}
.aside .aside-title {
  border-bottom: 1px solid #DADADA;
}
.aside .aside-title:after {
  background-color: #2a7d2e;
}
.filter-list li a:before {
  color: #FFF;
  background: #30323A;
}
.noUi-target {
  background-color: #DADADA;
}
.noUi-connect {
  background-color: #F8694A;
}
.noUi-horizontal .noUi-handle {
  background: #30323A;
}
.noUi-tooltip {
  color: #FFF;
  background: #30323A;
}
#store {
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}
.row-filter>a {
  color: #FFF;
  background-color: #30323A;
}
.row-filter>a.active {
  background-color: #f85951;
}
.store-pages li.active {
  color: #F8694A;
}
#product-view .product-view.slick-slide.slick-current {
  -webkit-box-shadow: 0px 0px 0px 2px #F8694A inset;
  box-shadow: 0px 0px 0px 2px #F8694A inset;
}
.product.product-details .product-options {
  border-top: 1px solid #DADADA;
}
.size-option>li>a {
  border: 1px solid #DADADA;
}
.size-option>li.active a {
  color: #F8694A;
  border-color: #F8694A;
}
.color-option>li.active a {
  -webkit-box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
  box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
}
.product-tab .tab-nav {
  border-bottom: 1px solid #DADADA;
}
.product-tab .tab-nav li.active a {
  color: #2a7d2e;
}
.product-tab .tab-nav li.active a:after {
  background-color: #2a7d2e;
}
.single-review .review-rating>i {
  color: #FFB656;
}
.single-review .review-rating>i.empty {
  color: #DADADA;
}
.reviews-pages li.active {
  color: #F8694A;
}
.review-form .input-rating .stars>label:before {
  color: #DADADA;
}
.review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label:before {
  color: #FFB656;
}
.review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label:before {
  color: #FFB656;
}
/*
.shopping-cart-table>tbody>tr>td, .shopping-cart-table>tbody>tr>th, .shopping-cart-table>tfoot>tr>td, .shopping-cart-table>tfoot>tr>th, .shopping-cart-table>thead>tr>td, .shopping-cart-table>thead>tr>th {
  border-top: 1px solid #DADADA;
}
*/
.shopping-cart-table>thead>tr>th {
  color: #30323A;
  border-bottom: 1px solid #DADADA;
}
.shopping-cart-table>tbody>tr:last-child>td {
  border-bottom: 1px solid #DADADA;
}
.shopping-cart-table>tfoot>tr>td, .shopping-cart-table>tfoot>tr>th {
  color: #30323A;
}
.shopping-cart-table>tfoot>tr>td:not(.empty), .shopping-cart-table>tfoot>tr>th:not(.empty) {
  background-color: #F6F7F8;
  border: 1px solid #DADADA;
}
.shopping-cart-table>tfoot>tr>.total {
  color: #F8694A;
}
.border-section {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.service-block {
	border-right: 1px solid #ddd;
}
.service-block h4 {
     color: #124a2f;
}
.btn-estimate{
    background: #27ae60;
    color: white;
}
.btn-estimate:hover{
	background-color: transparent;
	border: 1px solid  #27ae60;
	color:  #27ae60;
}
.block-summary{
	    background-color: #ddd;
}
.block-summary p {
    color: #222222;
}
.btn-update{
	background-color: transparent;
	border: 1px solid  #27ae60;
	color:  #27ae60;
}
.btn-update:hover{
	background-color: #27ae60;
	color:  white;
}
.block-summary hr{
	 color: #222222;
	border-color:#222222!important;
}
.t3-footer {
    background: #363636;
    color: #9c9c9c;
}
.t3-footnav .t3-module {
    background: #363636;
    color: #9c9c9c;
}
.module-ct {
    background: transparent;
    color: inherit;
}
.btn-primary, .sppb-btn-primary {
    color: #ffffff;
    background:#27ae60; 
}
.t3-footnav .t3-module {
    background: #363636;
    color: #9c9c9c;
}
.t3-footnav .t3-module .module-title {
    color: #ffffff;
}
.single-footer-widget .latest-post .single-post .text-holder .post-title h4 {
    color: #9c9c9c;
}
.single-footer-widget .latest-post .single-post .text-holder .post-info span {
    color: #7fb401;
}
.t3-footnav .t3-module ul > li > a:hover, .t3-footnav .t3-module ul > li > a:active, .t3-footnav .t3-module ul > li > a:focus {
    color: #2a7d2e;
}
div.k2CategoriesListBlock ul li:before {
    color: #27ae60;
}
.t3-footnav .t3-module ul > li > a {
    color: #9c9c9c;
}
div.k2CategoriesListBlock ul li a {
    color: #555555;
}
.module-ct {
    background: transparent;
    color: inherit;
}
.t3-footnav .t3-module .k2TagCloudBlock a {
    background: #2d2d2d;
    color: #ffffff;
}
.text-primary {
    color: #27ae60;
}
.t3-copyright {
    background: #2f2f2f;
}
.t3-copyright .social_icon li a {
    color: #9c9c9c;
}
.btn-primary:hover{
	background-color: transparent;
	color: #27ae60;
	border: 1px solid #27ae60;
}
.table-tab .header-account{
    background:#27ae60;
}
.table-tab .header-account h2{
   color: white;
}
.list-tabs{
	border:1px solid #dae2e6;
}
.list-tabs a:hover{
	color: #27ae60;
}
.list-tabs a{
    color: rgb(94, 94, 94);
}
.list-tabs .active{
	color: #ed0121!important;
}
.div-title{
	border-bottom: 1px solid rgb(94, 94, 94);
}
.link-edit{
	color: #ed0121;
}
.link-edit:hover{
	color: black;
}
.form-control:focus {
  border-color: rgba(94, 94, 94,0.2);
}
.content-account .fa-search{
	color: rgba(94, 94, 94,0.2);
}
#tabs ul li.active a {
	color: #27ae60;
}
 select>option:hover
    {
        background:red!important;
    }
.state p{
	color: white;
}
#tab-2 .btn-primary{
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
}
.bg-green{
	background: #20bf6b;
}
.bg-yellow{
	background: #ffd32a;
}
.bg-gray{
	background: #dee2e6;
}
.fa-trash-o{
	color: #ed0121;
}
.move-to-chart{
	background: #fab1a0;
	color:white;
}
.move-to-chart:hover{
	background: white;
	border: 1px solid #fab1a0;
	color:#fab1a0;
}
.info-item .des-product{
	color: #bdc3c7;
}
.info-item .p-green{
	color: #27ae60!important;
}
.inner-tab{
	background: white;
	    border: 1px solid #eeeeee;
}
.inner-tab h3{
	    border-bottom: 1px dashed #eeeeee;
	color:#27ae60;
}
.inner-tab h4{
	color: #222222;
}
.btn-edit-address{
	color: white;
	background: #27ae60;
}
.btn-edit-address:hover{
	background-color: transparent;
	border:1px solid #27ae60;
	color: #27ae60;
}
.inner-contact small{
	color: #e74c3c;
}
.inner-contact .btn-send:hover{
	background: white;
	border:1px solid #27ae60;
	color: #27ae60;
}
/*
.side-blog{
	border:1px solid #dddddd;
}
*/
.block-blog a h4:hover{
	color: #27ae60!important;
}
.content-blog-detail .side-blog{
	background: white;
}
.inner-details{
	background: white;
}
.slick-prev, .slick-next {
  background: #2a7d2e;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background:#f6af14;
}
.slick-prev:before, .slick-next:before {
  color: #FFF;
}
.slick-dots li button:before {
  background: #DADADA;
}
.slick-dots li.slick-active button:before {
  background-color:  #2a7d2e;
}
.section-title .title {
    color: #124a2f;
}
.inner-contact .header-contact{
	 color: #124a2f;
}
.product.product-single .quick-view:hover{
	color: #FFF;
    background-color: #2a7d2e;
}
.catagories .fa{
	color: #2a7d2e;
}
.content-about p{
	color: #7b6d58;
}
.categories h2 {
    color: #124a2f;
}
.single-category:hover h5{
	color: #f85951;
}
.cart-area{
	border: 1px solid #ebebeb;
}
.cart-area .table-coupon input{
        background: white;
    border: 1px solid #e1e1e1;
    color: #7b7b7b;
    box-shadow: 0 1px 0 0 #ffffff;
}
.cart-area .table-coupon button{
		background: #ffffff;
    border: 2px solid #e1e1e1;
    color: #2c2c2c;
}
.cart-area .table-coupon button:hover{
	    background: #78a206 none repeat scroll 0 0;
    border-color: #78a206;
    color: #ffffff;
}
.cart-area .table-update button{
		background: #ffffff;
    border: 2px solid #e1e1e1;
    color: #7b7b7b;
}
.total-wrapper{
	  border: 1px solid #ebebeb;
}
.total-wrapper h2{
		color: #2c2c2c;
}
.underline{
	background: #78a206;
}
.total-wrapper .single-total-content > span:first-of-type{
	  color: #211e1e;
}
.c-total-price{
	    color: #78a206;
}
.c-total-price span{
	color: #211e1e;
}
.single-total-content > a{
	 color: #a43d21;
}
.btn-checkout{
	    border: 2px solid #f6f5f1;
    background: #ffffff;
    color: #211e1e;
}
.btn-checkout:hover{
	 background: #78a206 none repeat scroll 0 0;
    border-color: #78a206;
    color: #ffffff;
}
.input:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #FFB656 inset, 0px 0px 0px 0px #FFB656;
  box-shadow: 0px 0px 0px 1px #FFB656 inset, 0px 0px 0px 0px #FFB656;
}
@media only screen and (max-width: 991px){
	.menu-nav .menu-list>li>a{
		color: black;
	}
}	